html, body, #wrapper {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;

	text-align: center;
}

::-moz-selection {
	background-color: rgba(255, 162, 0, 0.25);
}

::selection {
	background-color: rgba(255, 162, 0, 0.25);
}

/* header */

#links {
	padding: 0 15%;
	margin-top: 3em;

	height: 64px;
}

#logo {
	width: 64px;
	height: 64px;

	float: left;
}

#github {
	float: right;

	margin-top: 24px;
	margin-top: calc(32px - 0.5em);
}

/* content */

#content {
	padding: 0 10%;
	margin-top: 3em;
}

a {
	color: #ffa200;
	text-decoration: none;
	outline: none;
}
a:hover {
	border-bottom: 2px solid #ffa200;
}

h1 {
	font-size: 2.25em;
	font-weight: bold;

	margin-bottom: 1em;
}

p {
	margin-top: 0.1em;
	margin-bottom: 0;
}

ul {
	margin: 0;

	list-style-type: none;
}

li {
	margin-top: 2em;
}